$primaryColor = #41B883 
$accentColor = #35495E
$bgColor = #F7F7F7
$shadowColor = #E2E2E2
$textColor = #343434
$textLightColor = #666

$color1 = #E62300 
$color2 = #C70039 
$color3 = #900C3F 
$color4 = #581845
$color5 = #438874
$color6 = #5abf97
$color7 = #ff0085

$borderColor = #ebebeb
$colorImageFallback = #581845

$firstFooterColor = #263647
$secondFooterColor = #35495E

// Text
$baseFontFamily = Lato, Calibri, Arial
$regularText = 1rem
$mediumText = 0.875rem
$smallText = 0.75rem

$title1 = 2rem
$title2 = 1.625rem
$title3 = 1.25rem

/**
* Media Queries
*/
$mobile = 576px
$min-tablet = 576px
$max-tablet = 768px
$min-large = 1024px
$min-xlarge = 1200px

@import '~@temp/override.styl'